.navbar {
  height: 50px;
  padding: 10px 14px;
  width: 100%;
  position: fixed;
  background: transparent;
  top: 0;
  z-index: 10;
  transition: all 0.5 ease;

  &_brand {
    display: flex;
    font: {
      size: $fns-large;
      weight: $fnw-700;
      family: $fnf-secondary;
    }

    &-icon {
      margin-right: 10px;
      padding-top: 2px;
      color: $clr-main;
    }
  }
}
.navbarColor {
  background: $clr-container;
  box-shadow: 2px 2px 3px hsl(246, 42%, 14%);
}
