.main {
  display: grid;
  max-width: 500px;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.card {
  background: $clr-container;
  padding: 12px 16px;
  border-radius: 10px;
  position: relative;

  &_title,
  &_desc {
    text-align: center;
  }

  &_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font: {
      style: italic;
      size: $h3-font;
      family: $fnf-secondary;
    }
    background: $clr-container2;
    line-height: 2;
    border-radius: 10px;
  }
  .login_desc {
    margin-top: 40px;
  }
  ol {
    list-style-position: inside;
    line-height: 1.6;
  }
}

.packages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  &_deals {
    background: $clr-text-white;
    color: $clr-text;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    line-height: 1.6;
    border: 1px solid $clr-red;
    font: {
      weight: $fnw-600;
      family: $fnf-secondary;
    }

    h3 {
      color: $clr-red;
    }
    h4 {
      color: $clr-main;
      margin-block: 8px;
    }

    &:hover {
      box-shadow: -3px 3px 3px $clr-red;
    }
  }
  .modal {
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    display: grid;
    place-items: center;
    z-index: 100;

    &_btn {
      width: fit-content;
      margin-top: 10px;
    }

    &_body {
      background: $clr-text-white;
      color: $clr-text;
      border-radius: 10px;
      max-width: 400px;
      padding: 12px 24px;
      text-align: center;

      h3 {
        font: {
          size: $fns-normal;
          weight: $fnw-500;
        }

        span {
          color: $clr-main;
        }
      }
    }
  }
}

.form {
  width: calc(100% - 20px);
  margin-inline: auto;

  h4 {
    text-align: center;
  }

  &_control {
    width: 100%;
    padding: 8px 8px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    font: {
      size: $fns-normal;
      family: $fnf-secondary;
    }
    color: $clr-text;

    &:hover,
    &:focus {
      border: 1px solid $clr-main;
    }
  }

  .input-error {
    border: 2px solid $clr-red;
    margin-bottom: 2px;
  }

  .text_error {
    color: $clr-red;
    margin-bottom: 10px;
    font-weight: $fnw-500;
  }

  .input_div {
    display: flex;
    border-radius: 10px;
    background: $clr-text-white;
    padding: 6px 8px;
    border: 1px solid;

    .input_icon {
      text-align: center;
      color: $clr-text;
      cursor: pointer;
      margin-right: 10px;
      font-size: 20px;
      padding-top: 3px;
    }

    .form_control {
      all: unset;
      width: 100%;
      color: $clr-text;
      border-left: 1px solid hsl(0, 0%, 87%);
      padding-inline: 8px;
    }

    &:focus-within,
    &:hover {
      border: 1px solid $clr-main;
    }
  }
}
